#set($appName=${app.getName().toLowerCase()})
#set($relationship_lc=${RELATIONSHIP.getName().toLowerCase()})
#set($relationship=${RELATIONSHIP.getName()})
#set($relationshipView=${RELATIONSHIP.getViewName()})
#set($relationshipView_lc=${RELATIONSHIP.getViewName().toLowerCase()})
#set($projectName=${CodeAppUtil.containerAppName($app).toLowerCase()})
#set($projectVersion=${app.getVersion()})
#set($javaPath = ${CodeAppUtil.javaPath()})
configuration:
  - name: pom.xml
    path: ${PathPackage.path($projectName,$relationship_lc)}
    template: relationship_pom.vm
    buildable: false
  - name: ${relationship}.java
    path: ${DEFAULT__ENTITY_TYPE_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_entity_type.vm
    buildable: false
  - name: ${relationshipView}.java
    path: ${DEFAULT__ENTITY_VIEW_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_entity_view_type.vm
    buildable: false
  - name: ${relationship}Manager.java
    path: ${DEFAULT__ENTITY_MANAGER_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_manager.vm
    buildable: false
##  - name: ${relationship}ProcessController.java
##    path: ${DEFAULT__ENTITY_CONTROLLER_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
##    template: relationship_view_controller.vm
##    buildable: false
  - name: ${relationship}StoreRepo.java
    path: ${DEFAULT__ENTITY_REPO_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_repo.vm
    buildable: false
  - name: ${relationship}StoreRepository.java
    path: ${DEFAULT__ENTITY_REPO_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_repository.vm
    buildable: false
  - name: ${relationship}GraphManager.java
    path: ${DEFAULT__ENTITY_GQL_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_graph_manager.vm
    buildable: false
  - name: ${relationship}Request.java
    path: ${DEFAULT__ENTITY_GQL_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_graph_request.vm
    buildable: false
  - name: ${relationship}StateController.java
    path: ${DEFAULT__ENTITY_CONTROLLER_DIRECTORY.pathOf($projectName,$relationship_lc,$javaPath)}
    template: relationship_controller.vm
    buildable: false
