#set($entityGivenName=${ENTITY.getName()})
#set($gqlPackage=${DEFAULT__ENTITY_GQL_DIRECTORY.value})
#set($entityViewPackage=${DEFAULT__ENTITY_VIEW_DIRECTORY.value})

package ${gqlPackage};

import ${entityViewPackage}.${entityGivenName}View;

public class ${entityGivenName}Request extends ${entityGivenName}View {


}
