#set($entityGivenName=${ENTITY.getName()})
#set($idFieldType = $ENTITY.getIdField().getObject().getFQN())
#set($storeEssentials = $StoreUtils.essential(${entityStorePolicy.policy.storeName.storeType}))

package $DEFAULT__ENTITY_REPO_DIRECTORY.value;

import ${DEFAULT__ENTITY_TYPE_DIRECTORY.value}.$entityGivenName;
import org.springframework.stereotype.Repository;
import $storeEssentials.repo.fqn();

@Repository
public interface ${entityGivenName}Repo extends $storeEssentials.repo.name<${entityGivenName},$idFieldType> {}


