#set($appName=${app.getName().toLowerCase()})
#set($entityName=${ENTITY.getName().toLowerCase()})
#set($entityVersion=${ENTITY.getVersion()})
#set($projectName=${CodeAppUtil.containerAppName($app).toLowerCase()})
#set($projectVersion=${app.getVersion()})
#set($entityStorePolicy=${ENTITY.getStorePolicy()})
#set($entityMysql=$entityStorePolicy.isAvailable() && $entityStorePolicy.getPolicy().getStoreName() == "MYSQL")
#set($entityJpa=$entityStorePolicy.isAvailable() && $entityStorePolicy.getPolicy().getStoreName().getStoreType() ==
    "JPA")
#set($entityMongo=$entityStorePolicy.isAvailable() && $entityStorePolicy.getPolicy().getStoreName().getStoreType() ==
    "MONGODB")

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <artifactId>$projectName</artifactId>
        <groupId>$DEFAULT_GROUP_ID.value</groupId>
        <version>$projectVersion</version>
    </parent>
    <modelVersion>4.0.0</modelVersion>

    <artifactId>$entityName</artifactId>
    <version>$entityVersion</version>

    <dependencies>
        <dependency>
            <groupId>$DEFAULT_GROUP_ID.value</groupId>
            <artifactId>gode-store</artifactId>
            <version>${gode.version}</version>
        </dependency>
        <dependency>
            <groupId>$DEFAULT_GROUP_ID.value</groupId>
            <artifactId>gode-api</artifactId>
            <version>${gode.version}</version>
        </dependency>
        <dependency>
            <groupId>$DEFAULT_GROUP_ID.value</groupId>
            <artifactId>gode-common</artifactId>
            <version>${gode.version}</version>
        </dependency>

        #if($entityMysql)
            <dependency>
                <groupId>mysql</groupId>
                <artifactId>mysql-connector-java</artifactId>
            </dependency>
        #end


        #if($entityJpa)
            <dependency>
                <groupId>org.apache.commons</groupId>
                <artifactId>commons-dbcp2</artifactId>
            </dependency>

            <dependency>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-starter-data-jpa</artifactId>
            </dependency>
            <dependency>
                <groupId>com.querydsl</groupId>
                <artifactId>querydsl-jpa</artifactId>
            </dependency>
        #end



        #if($entityMongo)
            <dependency>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-starter-data-mongodb</artifactId>
            </dependency>
            <dependency>
                <groupId>com.querydsl</groupId>
                <artifactId>querydsl-mongodb</artifactId>
            </dependency>
            <dependency>
                <groupId>org.mongodb.morphia</groupId>
                <artifactId>morphia</artifactId>
                <version>1.3.2</version>
                <optional>true</optional>
            </dependency>
        #end

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>org.bitbucket.gt_tech</groupId>
            <artifactId>spring-data-querydsl-value-operators</artifactId>
            <version>4.0.0</version>
        </dependency>
        <dependency>
            <groupId>com.querydsl</groupId>
            <artifactId>querydsl-apt</artifactId>
            <version>${querydsl.version}</version>
        </dependency>

    </dependencies>
    <build>
        <plugins>

            #if(${entityStorePolicy.isAvailable()})
                <plugin>
                    <groupId>com.mysema.maven</groupId>
                    <artifactId>apt-maven-plugin</artifactId>
                    <version>1.1.3</version>
                    <executions>
                        <execution>
                            <goals>
                                <goal>process</goal>
                            </goals>
                            <configuration>
                                <outputDirectory>target/generated-sources/java</outputDirectory>
                                <processors>
                                    #if($entityJpa)
                                        <processor>com.querydsl.apt.jpa.JPAAnnotationProcessor</processor>
                                    #end
                                    #if($entityMongo)
                                        <processor>com.querydsl.apt.morphia.MorphiaAnnotationProcessor</processor>
                                    #end
                                </processors>
                            </configuration>
                        </execution>
                    </executions>
                    <dependencies>
                        <dependency>
                            <groupId>com.querydsl</groupId>
                            <artifactId>querydsl-apt</artifactId>
                            <version>${querydsl.version}</version>
                        </dependency>
                    </dependencies>
                </plugin>
            #end

        </plugins>
    </build>
</project>
