#set($entityGivenName=${ENTITY.getName()})
#set($entityStorePolicy=${ENTITY.getStorePolicy()})
#set($entityJPA=$entityStorePolicy.isAvailable() && $entityStorePolicy.getPolicy().getStoreName().getStoreType() == "JPA")
#set($idFieldType = $ENTITY.getIdField().getObject().getFQN())

package $DEFAULT__ENTITY_REPO_DIRECTORY.value;

#if($entityJPA)
import org.ibs.cds.gode.entity.store.repo.JPAEntityRepository;
#end
import ${DEFAULT__ENTITY_TYPE_DIRECTORY.value}.$entityGivenName;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
#if($entityJPA)
public class ${entityGivenName}Repository extends JPAEntityRepository<$entityGivenName,$idFieldType, ${entityGivenName}Repo> {
#end
    @Autowired
    public ${entityGivenName}Repository(${entityGivenName}Repo repo) {
        super(repo);
    }
}
