#set($entityGivenName=${ENTITY.getName()})
#set($entityViewGivenName=${ENTITY.getViewName()})
#set($entityName=${ENTITY.getName().toLowerCase()})
#set($entityStorePolicy=${ENTITY.getStorePolicy()})
#set($idFieldType = $ENTITY.getIdField().getObject().getFQN())
#set($viewPackage=${DEFAULT__ENTITY_VIEW_DIRECTORY.value})

package ${DEFAULT__ENTITY_CONTROLLER_DIRECTORY.value};

import ${DEFAULT__ENTITY_MANAGER_DIRECTORY.value}.${entityGivenName}Manager;
import ${viewPackage}.${entityViewGivenName};
import io.swagger.annotations.Api;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;

@Endpoint
@Api(tags = {"${entityGivenName}"})
@RequestMapping(value= "/gode/entity/${entityName}")
public class ${entityGivenName}ProcessController extends EntityProcessEndpoint<${entityViewGivenName},${entityGivenName}Manager,$idFieldType> {

    @Autowired
    public ${entityGivenName}ProcessController(${entityGivenName}Manager manager) {
        super(manager);
    }
}
