#set($entityGivenName=${ENTITY.getName()})
#set($entityViewGivenName=${ENTITY.getViewName()})
#set($entityName=${ENTITY.getName().toLowerCase()})
#set($entityStorePolicy=${ENTITY.getStorePolicy()})
#set($idFieldType = $ENTITY.getIdField().getObject().getFQN())
#set($entityPackage=${DEFAULT__ENTITY_TYPE_DIRECTORY.value})
#set($viewPackage=${DEFAULT__ENTITY_VIEW_DIRECTORY.value})

package ${DEFAULT__ENTITY_CONTROLLER_DIRECTORY.value};

import com.querydsl.core.types.Predicate;
import ${DEFAULT__ENTITY_MANAGER_DIRECTORY.value}.${entityGivenName}Manager;
import ${entityPackage}.${entityGivenName};
import ${viewPackage}.${entityViewGivenName};
import io.swagger.annotations.Api;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;

@Endpoint
@Api(tags = {"${entityGivenName}"})
@RequestMapping(value= "/gode/entity/${entityName}")
public class ${entityGivenName}StateController extends EntityStateEndPoint<${entityViewGivenName},${entityGivenName},${entityGivenName}Manager,$idFieldType> {

    @Autowired
    public ${entityGivenName}StateController(${entityGivenName}Manager manager) {
    super(manager);
    }
}
