#set($entityGivenName=${ENTITY.getName()})
#set($gqlPackage=${DEFAULT__ENTITY_GQL_DIRECTORY.value})
#set($entityPackage=${DEFAULT__ENTITY_TYPE_DIRECTORY.value})

package ${gqlPackage};

import ${entityPackage}.$entityGivenName;

public class ${entityGivenName}Request extends ${entityGivenName} {


}
