#set($function = $Channel.get($key))

package ${DEFAULT__APP_FUNCTION_DIRECTORY.value};

import lombok.Data;
#foreach($object in $function.input.body)
import ${object.typePackage}.${object.type};
#end
import java.util.Map;

@Data
public class ${function.input.name}{

#foreach($object in $function.input.body)
   private $object.type  $object.argumentName;
#end
   private Map<String,Object>  properties;
}
