#set($appName=${APP.getName().toLowerCase()})
#set($appGivenName=${APP.getName()})
#set($projectName=${CodeAppUtil.containerAppName($APP).toLowerCase()})
#set($javaPath = ${CodeAppUtil.javaPath()})
#set($resourcePath = ${CodeAppUtil.javaResourcePath()})
#set($graphqlPath = ${CodeAppUtil.graphqlPath()})
configuration:
  - name: pom.xml
    path: ${PathPackage.path($projectName)}
    template: parent_pom.vm
    buildable: true
  - name: pom.xml
    path: ${PathPackage.path($projectName,$appName)}
    template: app_pom.vm
    buildable: false
  - name: ${appGivenName}.java
    path: ${DEFAULT__APP_DIRECTORY.pathOf($projectName,$appName,$javaPath)}
    template: main.vm
    buildable: false
  - name: ${appGivenName}Function.java
    path: ${DEFAULT__APP_FUNCTION_DIRECTORY.pathOf($projectName,$appName,$javaPath)}
    template: app_function.vm
    buildable: false
#foreach($appFunction in $APP.appFunctions)
  #set($methodName_cap = ${StringUtils.capitalize($appFunction.methodName)})
  $Channel.put("appFunction", $appFunction)
  $Channel.put("methodName_cap", $methodName_cap)
  - name: ${methodName_cap}Request.java
    path: ${DEFAULT__APP_FUNCTION_DIRECTORY.pathOf($projectName,$appName,$javaPath)}
    template: app_function_request.vm
    buildable: false
  $Channel.put("appFunction", $appFunction)
  $Channel.put("methodName_cap", $methodName_cap)
  - name: ${methodName_cap}Response.java
    path: ${DEFAULT__APP_FUNCTION_DIRECTORY.pathOf($projectName,$appName,$javaPath)}
    template: app_function_response.vm
    buildable: false
#end
  - name: $APP.componentName.controlFile
    path: ${PathPackage.path($projectName,$appName, $resourcePath)}
    template: gode_properties.vm
    buildable: false
  - name: root.graphqls
    path: ${PathPackage.path($projectName,$appName, $graphqlPath)}
    template: graphql.vm
    buildable: false
  - name: logback.xml
    path: ${PathPackage.path($projectName,$appName, $resourcePath)}
    template: logback.vm
    buildable: false
#if(${APP.secure})
  - name: public.txt
    path: ${PathPackage.path($projectName,$appName, $resourcePath)}
    template: public_sample_key.vm
    buildable: false
#end
