#set($appName=${APP.getName().toLowerCase()})
#set($appFunctionName=${APP.appFunction.name.toLowerCase()})
#set($projectVersion=${APP.getVersion()})
#set($projectName=${CodeAppUtil.containerAppName($APP).toLowerCase()})
#set($monitorName=${CodeAppUtil.adminAppName($APP).toLowerCase()})
#set($storeRequirement=${DeploymentRequirement.getStoreRequirements($APP)})
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>$DEFAULT_GROUP_ID.value</groupId>
    <artifactId>$projectName</artifactId>
    <packaging>pom</packaging>
    <version>$projectVersion</version>
    <modules>
        <module>$appName</module>
        <module>$monitorName</module>
        <module>$appFunctionName</module>
        #foreach($entity in $APP.entities)
            <module>${entity.getName().toLowerCase()}</module>
        #end
    </modules>
    <parent>
        <groupId>org.ibs.cds.gode</groupId>
        <artifactId>gode-core</artifactId>
        <version>1.0-SNAPSHOT</version>
    </parent>
    <properties>
        <commons-lang3.version>3.9</commons-lang3.version>
        <lib.reflections.version>0.9.11</lib.reflections.version>
        <swagger.version>2.9.2</swagger.version>
        <lib.cc.version>4.4</lib.cc.version>
        <dl4j.version>0.9.1</dl4j.version>
        <servlet-api.version>4.0.1</servlet-api.version>
        <swagger.version>2.9.2</swagger.version>
        <gode.version>1.0-SNAPSHOT</gode.version>
        <querydsl.version>4.2.1</querydsl.version>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <graphql.version>5.0.2</graphql.version>
        <graphql.tools.version>5.2.4</graphql.tools.version>
        <dl4j.version>0.9.1</dl4j.version>
        <admin.version>2.2.2</admin.version>
        #if($DeploymentRequirement.isCacheNeeded($storeRequirement))
            <h2.version>1.4.197</h2.version>
        #end
    </properties>
    <dependencyManagement>
        <dependencies>
            #foreach($entity in $APP.entities)
                <dependency>
                    <groupId>$DEFAULT_GROUP_ID.value</groupId>
                    <artifactId>${entity.getName().toLowerCase()}</artifactId>
                    <version>${entity.getVersion()}</version>
                </dependency>
            #end

            #foreach($dependency in $APP.dependencies)
                <dependency>
                    <groupId>$DEFAULT_GROUP_ID.value</groupId>
                    <artifactId>${dependency.getName().toLowerCase()}</artifactId>
                    <version>${dependency.getVersion()}</version>
                </dependency>
            #end

            <dependency>
                <groupId>$DEFAULT_GROUP_ID.value</groupId>
                <artifactId>$appFunctionName</artifactId>
                <version>$projectVersion</version>
            </dependency>
        </dependencies>
    </dependencyManagement>

</project>
